path {
  stroke-linejoin: round;
  stroke-width: 0.8px;
  stroke-opacity: 0.90;
}

.land {
  fill: none;
  /*fill: white;*/
  stroke: black;
}

.mainland {
  fill: none;
  /*fill: white;*/
  stroke: red;
}
.states {
  fill: none;
  stroke: black;
}

.voronoi {
  fill: blue;
  stroke: #999;
  stroke-width: 0.0px;
  fill-opacity: 0.0;
  stroke-opacity: 0.9;
  cursor: pointer;
}
/*
.voronoi:hover .voroni{
  fill: red;
  opacity: 0.30;
}
*/

input#zip{
  border: 1px dotted #ccc;
  background: white;
  font-family: monospace;
  padding: 0px 0px;
  font-size: 11px;
  color: rgba(0,0,0,1);  /* change [input cursor color] */
  text-shadow: rgba(0,0,0,0.5); /* change [input font] */
  /*opacity:0.7;*/
  text-align: center;
  position: absolute;
  border-radius:5px;
  /*autofocus:autofocus;*/

}
input::placeholder{
  color: RGB(213, 210, 204,0.2); /* change [placeholder text color] */
}

input:focus {
  outline-width: 0px;
  box-shadow: 0px 0px 24px #3d8bb9;
}

.tick text{
  font-family: monospace;
  font-size: 11px;
  opacity: 0.50;

}

#legend_units{
  font-family: monospace;
  font-size: 11px;
  opacity: 0.50;
}
/*
.fudge {
  fill: white;
  stroke: none;
}
*/
.toggles.background-rect {
  fill:#999;
  rx: 7px;
  stroke: #000;
  stroke-width:0.25px;
}
.toggles.sliding-rect {
  fill: #fff;
  stroke-width:2px;
  stroke:#000;
  rx: 5px;
  box-shadow: 0px 0px 24px #3d8bb9;
}
.toggles.track-rect {
  fill: #6E6E6E;
  stroke-width:0.25px;
  stroke: #000;
  rx: 5px;
}
.toggles.face-rect {
  fill: red;
  stroke: none;
  rx: 10px;
  opacity: 0.0;
  cursor:pointer;
}

.face-rect:hover .track-rect{
  stroke-width:20px;
}
text.toggles.active-toggle {
  stroke: black;
  stroke-width:0.25px;
  font-family: monospace;
  font-size: 11px;
  color: black;
  text-align: center;
  position: absolute;
  opacity: 0.50
}
text.toggles.inactive-toggle {
  stroke: white;
  stroke-width:0.25px;
  font-family: monospace;
  font-size: 11px;
  fill: white;
  opacity:0.50;
  text-align: center;
  position: absolute;
}

.active {
  fill: none;
  fill-opacity: 0.10;
  stroke-width: 4px;
  stroke: green;
  stroke-opacity:0.50
}

#slider_bug{
  fill: rgba(0,0,0,0.50);
  stroke-width: 3px;
  stroke: black;
  stroke-opacity:0.50;
  opacity:0.50;
}
#slider_bug_background{
  fill:white;
  stroke-width: 2px;
  stroke: none;
  opacity:1;
}

#opacity-slider-box{
  fill: white;
  stroke: none;
  rx: 5px;
}

#opacity-slider-drag{
  fill: rgba(0,0,0,0.50);
  stroke-width: 2px;
  stroke: black;
  stroke-opacity:0.50;
  opacity:0.50;
  rx: 5px;
  cursor:pointer;
}

#chart-title {
  font-family: monospace;
  font-size: 35px;
  fill: rgb(255, 255, 255);
  text-align: left;
  position: absolute;
  text-anchor: start;
}

.slider.text {
  font-family: monospace;
  font-size: 11px;
  fill: rgba(0,0,0,0.5);
  text-align: left;
  position: absolute;
  text-anchor: middle;
}
#slider-label{
  font-family: monospace;
  font-size: 11px;
  fill: rgba(0,0,0,0.5);
  /*opacity:0.5;*/
  position: absolute;
  text-anchor: middle;

}
.dragger:hover{
  cursor:pointer;
}
.pointPlots{
  opacity:0.50;
}
.smartDefaultText{
  /*stroke: rgb(255, 255, 255);*/
  stroke-width:0.25px;
  font-family: monospace;
  font-size: 11px;
  fill: rgb(255, 255, 255)
  /*opacity:0.50;*/
  text-align: center;
  position: absolute;
}

.opacitySliderText{
  stroke:  rgb(0,0,0,0.50);
  stroke-width:0.25px;
  font-family: monospace;
  font-size: 11px;
  fill: rgb(0,0,0,0.50)
  /*opacity:0.50;*/
  opacity:0.2;
  text-align: center;
  position: absolute;
}

.heading{
  font-family: monospace;
  font-size: 20px;
  fill: rgb(255, 255, 255);
  text-align: left;
  position: absolute;
  text-anchor: start;
}

.tick text {
  fill:rgb(255, 255, 255);
  font-size: 18px
}
.tick line {
  stroke:rgb(255, 255, 255);
}
#xAxis path {
  stroke:rgb(255, 255, 255);
}

#year-slider path {
  stroke:rgb(255, 255, 255);
}

#smart-default-legend path,.ticks{
  stroke:rgb(255, 255, 255)
}
.hover-text{
  /*stroke: rgb(255, 255, 255);*/
  stroke-width:0.25px;
  font-family: monospace;
  font-size: 11px;
  fill: rgb(255, 255, 255)
  /*opacity:0.50;*/
  text-align: center;
  position: absolute;
}
text{
  font-family: monospace, Helvetica, Arial, Sans-Serif;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.legend {
  opacity: 0.8;
}


