
path {
  stroke-linejoin: round;
  stroke-width: 0.25px;
  stroke-opacity: 0.50;
}

.land {
  fill: #ddd;
  /*fill: white;*/
  stroke: black;
}

.states {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.voronoi {
  fill: blue;
  stroke: #999;
  stroke-width: 0.0px;
  fill-opacity: 0.0;
  stroke-opacity: 0.9;
}
/*
.voronoi:hover .voroni{
  fill: red;
  opacity: 0.30;
}
*/
input {
  border: 1px dotted #ccc;
  background: white;
  font-family: monospace;
  padding: 10px 20px;
  font-size: 18px;
  margin: 20px 10px 0px 0;
  color: black;
  opacity:0.7;
  text-align: center;
}

form {
  display: block;
  position: fixed;
  left: 10px;
  top: 10px;
  background: transparent;
}

.rect {
  fill: white;
  stroke: none;
}

